@model moocweb.Models.stu_info

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>stu_info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.stu_num)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.stu_num)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phonenum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phonenum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emailaddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emailaddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.college_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.college_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.major)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.major)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isdelete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isdelete)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
