@model moocweb.Models.teainfo
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_adminindex.cshtml";
}
<link rel="stylesheet" href="~/CSS/t_information.css" />
<script>
    function adelete(tmp) {
        var tr = $(tmp).parent().parent().parent();
        var td = tr.children("td");
        var id = td.eq(0).text();
        $.ajax({
            url:'@Url.Action("Delete","Teacher")',
            type: 'post',
            dataType: "json",
            data: {
                id: id
            },
            success: function (r) {
                if (r.result == '0') {
                    alert("删除成功");
                    $("#infodg").datagrid('reload');
                } else{
                    alert("删除失败");
                }
            }
        })
    }
    function formatDelete(val, row, index) {
        return '<button style="color: #1db0b8;text-decoration: none;border:none;background:none;" onclick="adelete(this)">' + '删除' + '</a>';
    }
</script>
<div class="easyui-tabs" data-options="fit:true">
    <div title="个人信息" style="padding: 10px">
        <div id="info" class="easyui-panel" data-options="fit:true,border:false">
            @using (Html.BeginForm("Update", "Teacher", FormMethod.Post, new { id = "ff" })) {
                <div style="margin-bottom: 20px">
                    @Html.LabelFor(model => model.tea_user, "工号")
                    @Html.TextBoxFor(model => model.tea_user, new { @class = "easyui-textbox", @readonly = "true", Value = Model.tea_user })
                </div>
                <div style="margin-bottom: 20px">
                    @Html.LabelFor(model => model.college_name, "学校")
                    @Html.TextBoxFor(model => model.college_name, new { @class = "easyui-textbox", @readonly = "true", Value = Model.college_name })
                </div>
                <div style="margin-bottom: 20px">
                    @Html.LabelFor(model => model.tea_level, "级别")
                    @Html.TextBoxFor(model => model.tea_level, new { @class = "easyui-textbox", @readonly = "true", Value = ViewBag.level })
                </div>
                <div style="margin-bottom: 20px">
                    @Html.LabelFor(model => model.tea_name, "姓名")
                    @Html.TextBoxFor(model => model.tea_name, new { @class = "easyui-textbox", @required = "true", Value = Model.tea_name })
                </div>
                <div style="margin-bottom: 20px">
                    @Html.LabelFor(model => model.pass, "密码")
                    @Html.TextBoxFor(model => model.pass, new { @class = "easyui-textbox", @required = "true", Value = Model.pass })
                </div>
                <div id="infobtn">
                    <input style="width:80px;border:1px solid #1db0b8;color:#1db0b8" class="l-btn" type="submit" value="提交" />
                </div>
            }
        </div>
    </div>
    <div title="账号管理" style="padding: 10px">
        <table id="infodg" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="
                    singleSelect:true,
                    collapsible:true,
                    toolbar: '#infotb',
                    url:'/Teacher/Get_teainfo',
                    method:'post',
                    pagination:true,
                    striped:true">
            <thead>
                <tr>
                    <th data-options="field:'id',align:'center',hidden:true" style="width: 13%">ID</th>
                    <th data-options="field:'tea_user',align:'center'" style="width: 13%">教师账户</th>
                    <th data-options="field:'tea_name',align:'center'" style="width: 13%">真实姓名</th>
                    <th data-options="field:'tea_level',align:'center'" style="width: 13%">用户权限</th>
                    <th data-options="field:'college_name',align:'center'" style="width: 13%">学校</th>
                    <th data-options="field:'lastTime',align:'center'" style="width: 18%">最后登录时间</th>
                    <th data-options="field:'lastIP',align:'center'" style="width: 18%">最后登录IP</th>
                    <th data-options="field:'delete',formatter:formatDelete,align:'center'" style="width: 10%">操作</th>
                </tr>
            </thead>
        </table>
        <div id="infotb">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus',plain:true" onclick="$('#append').window('open')">添加</a>
        </div>
        <div id="append" class="easyui-window" title="<center>添加</center>" style="width:600px;height:350px;"
             data-options="
                      modal:true,
                      draggable:false,
                      collapsible:false,
                      minimizable:false,
                      maximizable:false,
                      closed:true,
                      resizable:false">
            <div class="easyui-layout" data-options="fit:true">
                @using (Html.BeginForm("Add", "Teacher", FormMethod.Post)) {
                    <div data-options="region:'center'" style="padding: 10px">
                        <table cellpadding="10px">
                            <tr>
                                <td style="width:100px">账号</td>
                                <td>@Html.TextBoxFor(model => model.tea_user, new { @class = "easyui-textbox", @required = "required" }) </td>
                            </tr>
                            <tr>
                                <td style="width:100px">真实姓名</td>
                                <td>@Html.TextBoxFor(model => model.tea_name, new { @class = "easyui-textbox", @required = "required" }) </td>
                            </tr>
                            <tr>
                                <td style="width:100px">学校</td>
                                <td>
                                    @Html.DropDownListFor(model => model.college_name, ViewBag.Coptions as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", @name = "school", @style = "width:100%;" })
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px">用户权限</td>
                                <td>
                                    @Html.DropDownListFor(model => model.tea_level, ViewBag.Loptions as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", @name = "level", @style = "width:100%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tinfosouthbtn" data-options="region:'south',border:false" style="height: 45px">
                        <button class="easyui-linkbutton" data-options="iconCls:'fa fa-floppy-o'" type="submit">注册</button>
                        <a class="easyui-linkbutton" data-options="iconCls:'fa fa-times'" onclick="$('#append').window('close')">取消</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

