@model moocweb.Models.exam
@{
    ViewBag.Title = "AdminExam";
    Layout = "~/Views/Shared/_adminindex.cshtml";
}
<link rel="stylesheet" href="~/CSS/t_new_admin_test.css">
<script>
    function addSuccess(data, status, xhr) {
        alert("添加成功");
    }
    function addFailed(xhr, status, error) {
        alert("添加失败");
    }
    function addComplete(xhr, status) {
        $('#test').window('close');
        $("#ptb").datagrid("reload");
    }
    function LoadClassData(teaid) {
        $.ajax({
            url: '/Teacher/Get_classinfo',
            type: 'post',
            data: {
                id: teaid,
            },
            success: function (r) {
                $("#classoption").html("");
                for (var i in r.rows) {
                    var str = '<input class="easyui-checkbox" data-options="' + "labelPosition:'after'" + '" name="class_ids" value="' + r.rows[i].class_id + '" label="' + r.rows[i].class_name + '">';
                    $("#classoption").append(str);
                }
                $.parser.parse($("#classoption"));
            }
        })
    }
    $(function () {
        $('#teaselect').combobox({
            onBeforeLoad: function () {
                var teaid = $(this).combobox('getValue');
                LoadClassData(teaid);
            },
            onChange: function () {
                var teaid = $(this).combobox('getValue');
                LoadClassData(teaid);
            }
        })
    })
    function ename(val, row, index) {
        return '<a style="color: #1db0b8;text-decoration: none" href="/Teacher/ExamPaper/'+row.exam_id + '">' + row.name + '</a>';
    }
    function tname(val, row, index) {
        return '<a style="color: #1db0b8;text-decoration: none" href="/Teacher/Practice/' + row.tea_id + '">' + row.tea_name + '</a>'
    }
    function analyse(val, row, index) {
        return '<a style="color: #1db0b8;text-decoration: none" href="/Teacher/Prac_feedback/' + row.Id + '">查看分析数据</a>';
    }
</script>
<table id="ptb" class="easyui-datagrid" title="<center>练习管理</center>" style="width: 100%;height: 100%;"
       data-options="
                    rownumbers:true,
                    pagination:true,
                    singleSelect:true,
                    striped:true,
                    url:'/Teacher/PracticeAdmin_info',
                    method:'post',
                    toolbar: '#epm_btn'">
    <thead>
        <tr>
            <th data-options="field:'name', formatter:ename, width:'25%', align:'center'">练习名称</th>
            <th data-options="field:'class_name',width:'25%', align:'center'">班级</th>
            <th data-options="field:'tea_name',formatter:tname, width:'25%', align:'center'">管理教师</th>
            <th data-options="field:'analyse', formatter:analyse, width:'25%', align:'center'">反馈</th>
        </tr>
    </thead>
</table>
<div id="epm_btn" style="text-align: right">

    <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus',plain:true" onclick="$('#test').window('open')">添加练习</a>
</div>
<div id="test" class="easyui-window" title="<center>添加练习</center>" style="width: 600px;height: 400px;"
     data-options="
                closed:true,
                modal:true,
                minimizable:false,
                maximizable:false,
                draggable:false,
                resizable:false,
                collapsible:false">
    @using (Ajax.BeginForm("Add_Exam", "Teacher", new AjaxOptions()
    {
        HttpMethod = "Post",
        OnSuccess = "addSuccess",
        OnFailure = "addFailed",
        OnComplete = "addComplete"
    })) {
        @Html.TextBoxFor(m => m.type, new { @type = "hidden", @Value = true })
        <table id="test_tb" cellpadding="5px" style="width: 80%;margin: 20px auto">
            <tr>
                <td>教师：</td>
                <td>
                    @Html.DropDownList("teacher", ViewBag.Toptions as SelectList, new { @class = "easyui-combobox", @id = "teaselect", @style = "width:200px;" })
                </td>
            </tr>
            <tr>
                <td style="min-width:127px">
                    班级
                </td>
                <td id="classoption" style="max-width:300px"></td>
            </tr>
            <tr>
                <td>测试名称：</td>
                <td>@Html.TextBoxFor(m => m.name, new { @class = "easyui-textbox", @required = "required" })</td>
            </tr>
            <tr>
                <td>开始时间</td>
                <td>@Html.TextBoxFor(m => m.start_time, new { @class = "easyui-datebox" })</td>
            </tr>
            <tr>
                <td>结束时间</td>
                <td>@Html.TextBoxFor(m => m.end_time, new { @class = "easyui-datebox" })</td>
            </tr>
            <tr>
                <td>答题时间</td>
                <td>@Html.TextBoxFor(m => m.test_time, new { @class = "easyui-timespinner", @required = "required", @id = "ts" })</td>
            </tr>
        </table>
        <div id="test_tb_btn">
            <button class="easyui-linkbutton" type="submit">添加</button>
        </div>
    }
    <script>
        $('#ts').timespinner({
            min: '00:00:00',
            showSeconds: true
        });
    </script>
</div>

